<div style="text-align: center;">

  <mat-vertical-stepper  [linear]="'true'" #stepper="matVerticalStepper">
    <ng-template matStepperIcon="edit">
      ..
    </ng-template>

    <ng-template matStepperIcon="done">
      OK
    </ng-template>

    <mat-step  [stepControl]="treatmentsFormGroup">
     </mat-step>
     </mat-vertical-stepper>

<form [formGroup]="productSearchGroup" (ngSubmit)="searchProduct()" >

  <div class="wrap-input100 validate-input" >
    <input formControlName="productNameCtrl" class="input100" type="name" name="name" placeholder="ProductName">
    <span class="focus-input100"></span>
    <span class="symbol-input100">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </span>
  </div>
  <div class="wrap-input100 validate-input" >
    <input formControlName="cityCtrl" class="input100" type="name" name="name" placeholder="City">
    <span class="focus-input100"></span>
    <span class="symbol-input100">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </span>
  </div>
  <div class="wrap-input100 validate-input" >
    <input formControlName="countryCtrl" class="input100" type="name" name="name" placeholder="Country">
    <span class="focus-input100"></span>
    <span class="symbol-input100">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </span>
  </div>
  <button type="submit">sendSearch</button>
</form>
<div style="max-width:500px;background: rgb(206, 240, 206); margin:auto;line-height: 40px;">{{productSearchResult}}</div>
</div>
<hr/>
<div style="text-align: center;">

  <form [formGroup]="productIdGroup" (ngSubmit)="idProduct()" >

    <div class="wrap-input100 validate-input" >
      <input formControlName="externalId" class="input100" type="name" name="name" placeholder="ID">
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
    </div>

    <button type="submit">sendSId</button>
  </form>
  <div style="max-width:500px;background: rgb(206, 240, 206); margin:auto;line-height: 40px;">
    <span>{{prodIdResult}}</span>
      </div>
  </div>
