<div class="row">

  <mat-vertical-stepper class="col-md-6" [linear]="'true'" #stepper="matVerticalStepper">
    <ng-template matStepperIcon="edit">
      ..
    </ng-template>

    <ng-template matStepperIcon="done">
      OK
    </ng-template>

    <mat-step [stepControl]="pluginDefinitionGroup">
      <ng-template matStepLabel>Plugin Parameters</ng-template>

      <mat-form-field style="display:block;width:200px;">
        <input matInput placeholder="Scheme" [formControl]="pluginDefinitionGroup.controls['scheme']" required>
        <mat-error *ngIf="pluginDefinitionGroup.controls['scheme'].invalid">error</mat-error>

      </mat-form-field>


      <mat-form-field style="display:block;width:200px;">
        <input matInput placeholder="host" [formControl]="pluginDefinitionGroup.controls['host']" required>
        <mat-error *ngIf="pluginDefinitionGroup.controls['host'].invalid">error</mat-error>

      </mat-form-field>


      <mat-form-field style="display:block;width:200px;">
        <input matInput placeholder="Path" type="text" [formControl]="pluginDefinitionGroup.controls['path']" required>
        <mat-error *ngIf="pluginDefinitionGroup.controls['path'].invalid">error</mat-error>

      </mat-form-field>

      <mat-form-field style="display:block;width:200px;">
        <input matInput placeholder="Port" type="text" [formControl]="pluginDefinitionGroup.controls['port']">

      </mat-form-field>


      <mat-form-field style="display:block;width:200px;">
        <input matInput placeholder="Username" type="text" [formControl]="pluginDefinitionGroup.controls['username']"
          required>
        <mat-error *ngIf="pluginDefinitionGroup.controls['username'].invalid">error</mat-error>

      </mat-form-field>

      <mat-form-field style="display:block;width:200px;">
        <input matInput placeholder="Password" type="password"
          [formControl]="pluginDefinitionGroup.controls['password']" required>
        <mat-error *ngIf="pluginDefinitionGroup.controls['password'].invalid">error</mat-error>

      </mat-form-field>
      <div style="position:relative;">
        <button [disabled]="!pluginDefinitionGroup.valid" [class.btn-primary]="pluginDefinitionGroup.valid" mat-button
          (click)="definitions(stepper)">Siguiente</button>
        <mat-spinner *ngIf="loading" style="position:absolute;top: 7px; left: 4px;" color="success" diameter="35">
        </mat-spinner>
      </div>

      <mat-error *ngIf="error">sorry there is aproblem with the server</mat-error>



    </mat-step>

    <mat-step >
      <ng-template matStepLabel>Product Search</ng-template>


      <mat-form-field style="display:block;width:200px;">
        <input matInput placeholder="City" [formControl]="productSearchGroup.controls['cityCtrl']" required>

      </mat-form-field>


      <mat-form-field style="display:block;width:200px;">
        <input matInput placeholder="Country" [formControl]="productSearchGroup.controls['countryCtrl']" required>

      </mat-form-field>


      <mat-form-field style="display:block;width:200px;">
        <input matInput placeholder="ProductName" type="text"
          [formControl]="productSearchGroup.controls['productNameCtrl']" required>

      </mat-form-field>

      <div>
        <div style="position:relative;">
          <button *ngIf="searchFlag==0" class="btn-primary" mat-button
          (click)="searchProduct(stepper)">Post Seatch</button>
            <button *ngIf="searchFlag==2"  class="btn-primary" mat-button
            (click)="searchProductValidate()">Validate Types</button>
            <button *ngIf="searchFlag==4"  class="btn-primary" mat-button
            (click)="goNext(stepper)">Next</button>
          <mat-spinner *ngIf="searchFlag==1 || searchFlag==3"  style="position:absolute;top: 7px; left: 4px;" color="success" diameter="35">
          </mat-spinner>

        </div>
        <mat-error *ngIf="searchFlag==5">sorry there is aproblem with the server</mat-error>
      </div>


      <ngx-json-viewer style="padding: 20px;border: 1px solid grey; display: block; margin-top: 10px;" [json]="productsSearch"></ngx-json-viewer>

    </mat-step>

    <mat-step [stepControl]="productIdGroup">
      <ng-template matStepLabel>Product Search by ID</ng-template>
      <mat-form-field>
        <mat-label>Products</mat-label>
        <mat-select [formControl]="productIdGroup.controls['externalId']" >
          <mat-option *ngFor="let product of productsSearch" [value]="product.id">{{product.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <div style="position:relative;">
          <button *ngIf="searchIDFlag==0" [disabled]="!productIdGroup.valid" [class.btn-primary]="productIdGroup.valid" mat-button
            (click)="searchProductId(stepper)">Post Seatch</button>
            <button *ngIf="searchIDFlag==2" class="btn-primary" mat-button
            (click)="searchProductIDValidate()">Validate Types</button>
            <button *ngIf="searchIDFlag==4"  class="btn-primary"  mat-button
            (click)="goNext(stepper)">Next</button>
          <mat-spinner *ngIf="searchIDFlag==1 || searchIDFlag==3"  style="position:absolute;top: 7px; left: 4px;" color="success" diameter="35">
          </mat-spinner>

        </div>
        <mat-error *ngIf="searchIDFlag==5">sorry there is aproblem with the server</mat-error>
      </div>

      <ngx-json-viewer style="padding: 20px;border: 1px solid grey; display: block; margin-top: 10px;" [json]="productIDSearch"></ngx-json-viewer>

    </mat-step>

    <mat-step >
      <ng-template matStepLabel>Get Available CHECK</ng-template>

      <mat-form-field>
        <mat-label>Select Products</mat-label>
        <mat-select multiple [formControl]="productIdGroup.controls['externalId']" >
          <mat-option *ngFor="let product of productsSearch" [value]="product.id">{{product.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      </mat-step>

  </mat-vertical-stepper>
  <!--
  <form [formGroup]="productSearchGroup" (ngSubmit)="searchProduct()">

    <div class="wrap-input100 validate-input">
      <input formControlName="productNameCtrl" class="input100" type="name" name="name" placeholder="ProductName">
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
    </div>
    <div class="wrap-input100 validate-input">
      <input formControlName="cityCtrl" class="input100" type="name" name="name" placeholder="City">
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
    </div>
    <div class="wrap-input100 validate-input">
      <input formControlName="countryCtrl" class="input100" type="name" name="name" placeholder="Country">
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
    </div>
    <button type="submit">sendSearch</button>
  </form>
  <div style="max-width:500px;background: rgb(206, 240, 206); margin:auto;line-height: 40px;">{{productSearchResult}}
  </div>
</div>
<hr />
<div style="text-align: center;">

  <form [formGroup]="productIdGroup" (ngSubmit)="idProduct()">

    <div class="wrap-input100 validate-input">
      <input formControlName="externalId" class="input100" type="name" name="name" placeholder="ID">
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
    </div>

    <button type="submit">sendSId</button>
  </form> -->
  <!--
  <mat-step [stepControl]="pluginDefinitionGroup">
  <mat-form-field>

          <input matInput (click)="picker.open()" [min]="minDate" [max]="maxDate"
            [matDatepicker]="picker" (ngModelChange)="ChangeDateMethod($event)"  [(ngModel)]="dateTes" disabled>

          <mat-datepicker-toggle class="toggle" matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker   opened="true"  #picker disabled="false"></mat-datepicker>
        </mat-form-field>
  </mat-step> -->



  <div style="max-width:500px;background: rgb(206, 240, 206); margin:auto;line-height: 40px;">
    <span>{{prodIdResult}}</span>
  </div>
</div>
